#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
tmp_table_size=256M
max_heap_table_size=256M
query_cache_limit=256M
query_cache_size=256M
query_cache_type=1
max_user_connections=45
max_connections=300
innodb_buffer_pool_size = 256M
thread_cache_size=128
key_buffer=64M
join_buffer_size=64M
max_connect_errors=20
max_allowed_packet=64M
table_cache=4096
sort_buffer_size=8M
read_buffer_size=8M
read_rnd_buffer_size=8M
myisam_sort_buffer_size=64M

slow-query-log-file=/var/log/mysql-slow.log
long_query_time=1

# this is only for embedded server
[embedded]

# This group is only read by MariaDB-5.5 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mysqld-5.5]

# These two groups are only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

[mariadb-5.5]
